html, body {
	font-family: Arial, Helvetica, sans-serif;
	background: #ddd;
}

html {
	overflow-y: scroll;
}

h1, h2, h3 {
	font-size: 42px;
	font-weight: bolder;
	margin: 0 0 20px 15px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 16px;
	margin: 0;
}

p {
	margin: 0 0 10px 0;
}

.wrapper {
	width: 1000px;
	margin: 0 auto 50px auto;
	border-left: 1px solid #111;
	border-right: 1px solid #111;
	background: #fff;
	position: relative;
}

.header {
	background-image: url("../../Content/images/header.jpg");
	height: 250px;
}

.navi {
	width: 100%;
	height: 50px;
	background: #233423;
	margin: 75px 0 50px 0;
}

.navi li {
	display: inline;
	padding: 0 20px;
}

.navi a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 0 15px;
	line-height: 50px;
}

.navi a:hover {
	color: #693;
}

.navi .login {
	float: right;
	margin-right: 10px;
	padding: 0;
}

.navi .login:hover {
	cursor: pointer;
}

.navi img {
	max-height: 40px;
	margin: 5px;
}

.login-menu {
	position: relative;
	z-index: 1;
	background: #eee;
	border: 2px solid #693;
	border-radius: 10px;
	padding: 1em;
	float: right;
	margin-top: -55px;
}

.login-label {
	width: 100px;
	padding: 7px 0;
}

.login-field {
	width: 150px;
	border-radius: 5px;
	padding: 3px;
}

.button, .button-red, .button-blue, .button-not-logged-in {
	width: 255px;
	height: 35px;
	margin: 10px auto 0 auto;
	background: #693;
	border: 1px solid #471;
	border-radius: 10px;
	color: #fff;
	font-weight: bolder;
}

.button-red {
	background: #d00;
	border-color: #600;
	margin-bottom: 20px;
}

.button-blue {
	background: #009;
	float: right;
	width: 100px;
	height: 25px;
	margin: -15px 0 5px 0;
}

.button-not-logged-in {
	background: #999;
}

.button:hover {
	cursor: pointer;
	background: #471;
}

.button-red:hover {
	cursor: pointer;
	background: #732;
}

.button-blue:hover {
	cursor: pointer;
	background: #147;
}

.content {
	width: 960px;
	padding: 20px;
	display: inline-block;
}

.content td {
	height: 35px;
	padding: 0 10px;
}

.input-field {
	width: 200px;
	border: 1px solid #693;
	border-radius: 5px;
	padding: 5px;
}

.img-right {
	float: right;
	height: 200px;
	padding: 10px;
	border: 1px solid #111;
	margin: -25px 10px 10px 0;
}

.room-list {
	width: 650px;
	float: right;
}

.room-image {
	float: right;
	width: 250px;
	margin-bottom: 2em;
}

.room-divider {
	border-bottom: 1px solid #222;
	margin-bottom: 1em;
	clear: both;
}

.room-divider:last-child {
	border-bottom: 0;
	margin-bottom: 1em;
	clear: both;
}

.datepicker {
	float: left;
	width: 250px;
	border: 1px solid #262;
	border-radius: 20px;
	padding: 20px;
}

.datepicker h2 {
	margin-left: -10px;
	width: 250px;
	border-bottom: 1px solid #222;
}

.date-label {
	width: 50px;
	height: 20px;
	padding-top: 5px;
	float: left;
	clear: both;
}

.date-value {
	width: 150px;
	height: 20px;
	margin: 0 0 40px 0;
	float:left;
}

.divider {
	width: 940px;
	border-bottom: 1px solid #333;
	margin: 45px auto;
}

.dashboard-navi {
	width: 990px;
	height: 100px
}

.dashboard-navi li {
	display: inline;
	padding: 0 1em;
	font-size: 18px;
	font-weight: bolder;
	line-height: 80px;
	-moz-user-select: none;
	user-select: none;
}

.dashboard-navi li:hover {
	cursor: pointer;
}

.dashboard-navi img {
	width: 80px;
	float: left;
}

.dashboard-navi div {
	float: left;
	margin-right: 20px;
}

.report {
	margin-bottom: 40px;
}

.report th {
	font-size: 20px;
	padding: 10px 40px;
	border-bottom: 2px solid #222;
}

.report td {
	text-align: center;
	padding: 15px 0 0 0;
	border-bottom: 1px dotted #222;
}

.product-row {
	padding: 5px 0;
	border-bottom: 1px solid #222;
}

.product-row:last-child {
	border-bottom: 0;
}

.product-row table {
	margin: 10px 0 0 0;
}

.footer {
	width: 100%;
	height: 50px;
	background: #233423;
}

.footer p {
	color: #fff;
	float: left;
	margin: 15px 0 0 10px;
}

.footer img {
	max-height: 40px;
	float: right;
	margin: 5px 20px 0 0;
}

.clearboth {
	clear: both;
}